.sidebar {
  width: 240px;
  height: 100vh;
  background: linear-gradient(to bottom, #001f4d, #002b80);
  color: white;
  position: fixed;
  padding: 20px;

  overflow-y: auto;
}

.sidebar::-webkit-scrollbar {
  width: 5px;
}

.sidebar::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.3);
  border-radius: 10px;
}

.logo {
  margin-bottom: 40px;
  font-size: 28px;
}

.menu {
  list-style: none;
  padding: 0;
}

.menu li {
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.menu li:hover {
  background-color: rgba(255, 255, 255, 0.15);
}